<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Events</title>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='events.css') }}">
    </head>
    
    <body>
        <div class="main">
            <h1>Secret Santa Events</h1>
            <div class="list">
                <p id="create">Create a new Event.</p>
                <p>Example 1</p>
            </div>
        </div>    
    </body>
</html>